body{
  background: #ffffff;
}

.box1{
width:90%;
height:100px;
margin: auto;
background: #d60270;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;
text-decoration: solid;

margin-bottom: 10px;
}

.box2{
width:90%;
height:100px;
margin: auto;
background: #70193d;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 10px;
}

.box3{
width:90%;
height:100px;
margin: auto;
background: #bad80a;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 10px;
}

.box4{
width:90%;
height:100px;
margin: auto;
background: #ede211;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 10px;
}

.box5{
width:90%;
height:100px;
margin: auto;
background: #ff8c00;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 10px;
}

.box6{
width:90%;
height:100px;
margin: auto;
background: #a32638;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 10px;
}

.box7{
width:90%;
height:100px;
margin: auto;
background: #a3057f;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 10px;
}

.box8{
width:90%;
height:100px;
margin: auto;
background: #116949;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 10px;
}

.box9{
width:90%;
height:100px;
margin: auto;
background: #167851;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 10px;
}

.box10{
width:90%;
height:100px;
margin: auto;
background: #1b322a;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 10px;
}

.box11{
width:90%;
height:100px;
margin: auto;
background: #19302a;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 0px;
}

.box12{
width:90%;
height:200px;
margin: auto;
background: #ffffff;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 0px;
}

.box13{
width:90%;
height:200px;
margin: auto;
background: #ffffff;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 0px;
}

.box14{
width:90%;
height:200px;
margin: auto;
background: #ffffff;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 0px;
}

.box15{
width:90%;
height:200px;
margin: auto;
background: #ffffff;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 0px;
}

.box16{
width:90%;
height:200px;
margin: auto;
background: #ffffff;
padding: 2%;
color: #ffffff;
font-weight: bold;
font-family: ubuntu condensed;

margin-bottom: 0px;
}

.box17 {
  width: 90%;
  height: 200px;
  margin: auto;
  background: #ffffff;
  padding: 2%;
  color: #ffffff;
  font-weight: bold;
  font-family: ubuntu condensed;

  margin-bottom: 0px;
}